*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html,body{
    height :100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color:black;
}

#nav{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: black;
    padding: 0 20px;
    align-items:center;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items: center;
    width: 60%;
    
    justify-content: space-between;
}

#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

#nav>i{
    font-size: 20px;
}
#nav h5{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0 2px;
}

#nav img{
    height: 40Px;

}

#line{
    height: 3px;
    width: 70px;
    background-color:red;
}

#content{
    width: 100%;
    height: calc(100% - 90px);
    background-color:black;
    display: flex;
    position: relative;
    justify-content: space-between;
}

#left{
    width: 40%;
    height: 100%;
padding: 100px 80px; 
}

#right{
    width: 38%;
    height: 100%;
background-color: rgb(0, 0, 0);
padding: 250px 80px;
}

#center{
    width: 24%;
    height: 100%;
background-color:#000;
padding-top: 20px ;
}
#left h1{
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 40px ;
}

#left h1 span{
    color: red;
    font-weight: 300;
}
#left p{
    font-weight: 100;
    font-size:15px;
    width: 80%;
    /*padding: 30PX 0;*/
    margin-bottom: 20px ;
   
 }

 #left button{
    background-color:red;
    padding: 15PX 30PX;
    border-radius:50px;
    font-size: 20px;
    display: flex;
    align-items: center;
 }

 #left button i{
margin-right: 10px;
 }

#centerbg{
    background-color: black;
   
    width: 100%;
    height: 90%;
    border-top-left-radius: 1000px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-KIa93aJfSEU4iOz0B3ky7cia6_L41iRrhQ&usqp=CAU);
background-position:30% 50%;
background-size: 350%;
filter: blur(2px);
}


#content>img{
    height: 100%;
    position: absolute;
    left: 49%;
    transform: translate(-50%,0);

}

#right-elem{
    background-color: black;
    width: 100%;
}

#elem1{
   
    align-items: center;
    justify-content: space-between;
    height: 100px;
  

}
#elem1 h1{
    
    font-size: 22px;
font-weight: 600;
text-transform: capitalize;

border-bottom: 1px solid #fff;
opacity: .3;
}
#elem1 i{
   padding: 0 203px;
  
    font-size: 24px;

}
#elem2 h1{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top:15px ;
    
}

#elem2 p{
font-size: 12px;
width: 80%;

}

#elem3 h1{
border-bottom: none;
}

#elem3 p{
    padding: 13px 0;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
}



